:root{
    --border--background:#edf0ee;
}
.noticeboard{
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
    
}
.noticeboard__table {
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.noticeboard__table th,  
.noticeboard__table td {
    border-top:1px solid var(--border--background);   
    border-bottom:1px solid var(--border--background);    

}
.noticeboard__table th{
    background-color: var(--border--background);
}
.board__title{
    width: 20%;
}
.board__content{
    width: 50%;
}
.board__author{
    width:15%;
}
.board__time{
    width: 15%;
}

.noticeboard__btn{
    position: fixed;
    right: 100px;
    bottom:100px;    
}
.noticeboard__btn button{
    width: 70px;
    height: 80px;
    border-radius: 40%;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}
.noticeboard__btn button:hover{
    background-color: #9c9b9a;
}